.App {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table th {
  padding: 12px;
  background-color: #ffb300;
}
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tbody tr:last-child {
  background-color: #ffeba9;
}
table tfoot td:last-child {
  font-weight: bold;
}

input,
select {
  border: 1px solid #ababab;
  padding: 3px 6px;
}
input[type="number"] {
  width: 110px;
}

button {
  margin: 0 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #f5f5f5;
}
button[type="submit"] {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #00a2ff;
  transition: all 0.25s;
}
button[type="submit"]:hover {
  background-color: blue;
}
button[type="submit"]:active {
  background-color: #ddd;
}
